// ======================================
//  Articles, cards
// ======================================
.categories {
  display: flex;
  flex-direction: column;
}
.category {
  @include e('card'){
    display: flex;
    align-items: center;
    align-self: flex-end;
    width:100%;
    padding: em(24px) em(10px);
    border-radius: $br--default;
    background-color: $color--bg;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    margin: em(20px) 0;
    @include m("icon"){
      margin:0 em(20px);
      width:$icon--md;
      height:$icon--md;
      & .path {
        fill: $color--svg;
      }
    }
    @include m('text'){
      color: $color--prim;
      text-decoration: none;
    }
    @include m('api') {
      color: $white;
      font-size: $font-size--sm;
      border-radius: $br--default;
      margin-left:auto;
      padding: em(10px) em(25px);
      background-color: $alto;
    }
  }
}