// ======================================
//  Containers (general ones, articles have their own scss)
// ======================================
.container {
  @extend %container;
  }

.dark {
  background-color: $color--bg--dark;
}

.light {
  background-color: $color--bg--light;
}
.green {
  background-color: $color--bg--green;
}
.white {
  background-color: $color--bg;
}
.wrapper {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 em(24px);
}
.main__section {
  margin-bottom: em(40px);
}
.side-bar {
  @include mq("tablet"){
    min-width: 260px;
    position: relative;
    background-color: $color--bg;
    padding-top: 0;
  }
}