// ======================================
//  Containers
// ======================================
.wrapper {
  max-width: 1024px;
  margin: 0 auto em(40px);
  padding: 0 em(24px);
}

.categories {
  display: flex;
  justify-content: space-between;
}