// ======================================
//  Containers
// ======================================
.wrapper {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto em(40px);
  padding: 0 em(24px);
}

.side-bar {
  margin-right:em(25px);
}