// ======================================
//  Header
// ======================================
header {
  display:flex;
  justify-content: space-between;
  background-color: $color--bg;
  align-items: flex-start;
}
.header__logo {
  margin: em(25px);
  }