// ======================================
//  Header
// ======================================
header {
  background-color: $color--bg;
  border-bottom: 1px solid $color--border;
  & .wrapper {
    margin-bottom:0px;
  }
}


.header__main {
  display:flex;
  background-color: $color--bg;
  margin-bottom: em(15px);
  & nav {
    @include mq('tablet'){
      align-self: flex-end;
      flex-grow: 1;
      display: flex;
    }
  }
}
.header__logo {
  margin: em(10px) 0 0;
  }
.header__title {
  align-self: flex-end;

}