// ======================================
//  Header
// ======================================
header {
  background-color: $color--bg;
  border-bottom: 1px solid $color--border;
}

.header__main {
  display:flex;
  background-color: $color--bg;
  margin-bottom: em(15px);
}
.header__logo {
  margin: em(25px) 0 0;
  }
.header__title {
  align-self: flex-end;

}