// ======================================
//  Images/Icons
// ======================================
//img {
//  width: 100%;
//}
.icon {
  @include m("arrow"){
    padding: em(2px);
    width:$icon--xsm;
    height: $icon--xsm;
    & .path {
      fill: $white;
    }
  }
  @include m("search"){
    width:$icon--sm;
    height: $icon--sm;
    position: relative;
    top:3px;
    left: -50px;
    & .path{
      fill: $color--input;
    }
  }
}

