// ======================================
//  Images/Icons
// ======================================
img {
  width: 100%;
}

.header__logo {
  width: $icon--md;
  margin-left: -8px;
}

.icon {
    width:$icon--xsm;
  @include m("info"){
    min-width:$icon--sm;
    align-self: flex-start;
    margin-top:2px;
  }
  @include m("arrow"){
    padding: em(2px);
    & .path {
      fill: $white;
      @include mq("tablet"){
        fill:$color--prim;
        padding: em(4px);
      }
    }
  }
  @include m("search"){
    visibility: hidden;
    width:$icon--sm;
    height: $icon--sm;
    position: relative;
    left: -50px;
    @include mq("mobile-xs"){
      visibility: visible;
      top:9px;
    }
    @include mq("tablet"){
      visibility: visible;
      top:5px;
    }
    & .path{
      fill: $color--input;
    }
  }
}

