// ==========================================================================
// Extends
// ==========================================================================
%link {
  color: $color--link-default;
  text-decoration: none;
}

%title {
  font-size: $text-title--lg;
  margin: em(10px) 0;
    @include mq("tablet"){
      font-size: $text-title--xlg;
    }
}
%desc {
  font-size: $text-normal--sm;
  font-family: $font-family--sec;
  color: $color--sec;
  margin: em(15px) 0;
  @include mq('tablet') {
    font-size: $text-normal--md;
  }
}

%nav {
  display: flex;
  font-size: $font-size--sm;
}

%container {
  padding-top:80px;
}