header.white
    .wrapper
        .header__main
            img.header__logo(src='/static/img/logo.png', alt='logo')
            span.header__title
                strong ACME
                |  CORP.
            nav(role='navigation')
                #menuToggle
                    //
                        A fake / hidden checkbox is used as click receiver,
                        so you can use the :checked selector on it.
                    input(type='checkbox')
                    // These will represent the hamburger icon
                    span
                    span
                    span
                    nav.menu
                        .menu__list
                            a.nav-item(href='/builder') Builder
                            a.nav-item(href='/engine') Engine
                            a.nav-item(href='/solutions')
                                | Solutions
                                svg.icon.icon--arrow(viewbox='0 0 6 3', xmlns='http://www.w3.org/2000/svg')
                                    path.path(fill='#162945', d='M2.62 2.738L3 3l.38-.262 2.113-1.456L6 .932 5.24 0 4.73.35 2.994 1.54 1.268.35.76 0 0 .932l.507.35L2.62 2.738', fill-rule='evenodd')
                            a.nav-item(href='/pricing') Pricing
                            a.nav-item(href='/blog') Blog
                        .menu__list.menu--left
                            a.nav-item(href='/login') Login
                            a.nav-item(href='/contact-us') Contact us
    // End wrapper