// ==========================================================================
// Base
// ==========================================================================
// The universal selector (*)
* {
  box-sizing: border-box;
}
body {
  font-size: $font-size--md;
  font-family: $font-family--prim;
  background-color: $color--bg--light;
  color: $color--prim;
  line-height: $line-height;
}

h1,
h2,
h3,
p {
  margin:0;
}

a {
  text-decoration: none;
}