// ==========================================================================
// General typography
// ==========================================================================
.active {
  font-weight: $font-weight--bold;
  color:$color--active;
}
.title,
.article__title {
  @extend %title;
}
.desc,
.article__desc {
  @extend %desc;
}
.article__title {
  font-weight: $font-weight--regular;
  font-size: $text-title--sm;
  @include mq("mobile") {
    font-size: $text-title--md;
  }
}
.desc {
  font-size:$text-normal--md;
  @include mq("mobile") {
    font-size:$text-normal--lg ;
  }
}
.article__desc {
  @include mq("mobile") {
    font-size:$text-normal--md ;
  }
}

.article__card--text {
  font-size: $text-normal--md;
}

.side-bar {
  font-size: $text-normal--sm;
  font-family: $font-family--sec;
}