// ==========================================================================
// Base
// ==========================================================================

.active {
  font-weight: $font-weight--bold;
  color:$color--active;
}

.title {
  margin: em(15px) 0;
}
.lead {
  font-family: $font-family--sec;
  color: $color--sec;
  margin: em(25px) 0;
}