// ==========================================================================
// General typography
// ==========================================================================
.active {
  font-weight: $font-weight--bold;
  color:$color--active;
}

.title,
.article__title {
  @extend %title;
}
.article__title {
  @include mq("tablet") {
    font-size: $text-title--md;
  }
}
.desc,
.article__desc {
  @extend %desc;
}
.desc {
  @include mq("tablet") {
    font-size:$text-normal--lg ;
  }
}
.article__card--text {
  font-size: $text-normal--md;
}